{% load static %}

<html dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
    </head>

	<body>
		<div class="container main-div">
			<div class="row bg-c-lb" style="padding:30px 50px 10px;">
				<h1>سامانه ی انجام کار</h1>
			</div>
			<div class="row">
				<div class="col-lg-3 my-col bg-c-lg">
                    {% if username %}
                        <p style="text-align:center;">{{ username }} عزیز, خوش آمدی</p>
                        <form action="/polls/logout_user/" method="post">
                        {% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-block" style="margin-top:5px;" value="خروج" />
                        </form>
                        {% if is_lord %}
                            <form action="/polls/" method="post">
                            {% csrf_token %}
                                <input type="submit" class="btn btn-warning btn-block" style="margin-top:5px;" value="بازگشت" />
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
				<div class="col-lg-9 my-col bg-c-lav">
                    {% if not_lord %}
                        <div dir="ltr">
                        <h3>You dont have permission to create tasks</h3>
                        </div>
                    {% else %}
                    {% if not_signed_in %}
                        <div dir="ltr">
                        <h3>You are not signed in!</h3>
                        </div>
                    {% else %}
                        <form action="/polls/create_task_submit/" method="post">
                        {% csrf_token %}
                            <div>
                                <lable for="title">عنوان: </label>
                                <input id="title" type="text" name="title"/>
                            </div>
                            <div>
                                <label for="est_days">تخمین زمانی: </label>
                                <input id="est_days" type="number" name="est_days" style="max-width:50px;"/>
                                <label for="est_days">روز</label>
                            </div>
                            <div>
                                <label for="value">ارزش:‌ </label>
                                <input id="value" type="number" name="value" style="max-width:150px;"/>
                                <label for="value">تومان</label>
                            </div>
                            <div>
                                <label for="desc">توضیحات: </label>
                                <textarea id="desc" rows="3" name="desc"></textarea>
                            </div>
                            <div>
                                <input type="submit" class="btn btn-success btn-block" style="margin:5px 5px;max-width:100px;" value="ثبت"/>
                                {% if task_status_ok %}
                                    <p style="color:green">کار با موفقیت ثبت شد.</p>
                                {% endif %}
                                {% if task_status_error %}
                                <p style="color:red">{{ task_status_error }}</p>
                                {% endif %}
                            </div>
                        </form>
                    {% endif %}
                    {% endif %}
                </div>

			</div>
			<div class="row bg-c-lb" style="padding:5px 10px 0px">
				<p>درباره‌ی ما</p>
			</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
