{% if tasks %}

{% load static %}

<html dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
        $(document).ready(function(){
            function LoadMoreRows() {
                var num = $("#ntasks").text();
                $("#ntasks").text(parseInt(num) + 7);
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        $("#tasktable").append(this.responseText);
                    }
                };
                xhttp.open("GET", "/polls/load_more_rows/" + num, true);
                xhttp.send();
            }
            $("#load_button").click(function(){
                LoadMoreRows();
            });

            LoadMoreRows();
        });

        </script>

    </head>

	<body>
		<div class="container main-div">
			<div class="row bg-c-lb" style="padding:30px 50px 10px;">
				<h1>سامانه ی انجام کار</h1>
			</div>
			<div class="row">
				<div class="col-lg-3 my-col bg-c-lg">
                    {% if username %}
                        <p style="text-align:center;">{{ username }} عزیز, خوش آمدی</p>
                        <form action="/polls/logout_user/" method="post">
                        {% csrf_token %}
                            <input type="submit" class="btn btn-danger btn-block" style="margin-top:5px;" value="خروج" />
                        </form>
                        {% if is_lord %}
                            <form action="/polls/create_task/" method="post">
                            {% csrf_token %}
                                <input type="submit" class="btn btn-success btn-block" style="margin-top:5px;" value="اضافه کردن کار" />
                            </form>
                        {% endif %}
                    {% else %}
                        <form  action="/polls/login_user/" method="post">
                        {% csrf_token %}
                            <div class="input-group">
                                <input id="login_username" type="text" class="form-control" name="login_username" placeholder="نام کاربری">
                            </div>
                            <div class="input-group">
                                <input id="login_password" type="password" class="form-control" name="login_password" placeholder="رمز عبور">
                            </div>
                            <input type="submit" class="btn btn-success btn-block" style="margin-top:5px;" value="ورود" />
                        </form>
                        <hr>
                        <form action="/polls/register/" method="post">
                        {% csrf_token %}
                            <div class="input-group">
                                <input id="reg_username" type="text" class="form-control" name="reg_username" placeholder="نام کاربری">
                            </div>
                            <div class="input-group">
                                <input id="reg_email" type="text" class="form-control" name="reg_email" placeholder="ایمیل">
                            </div>
                            <div class="input-group">
                                <input id="reg_password" type="password" class="form-control" name="reg_password" placeholder="رمز عبور">
                            </div>
                            <div class="input-group">
                                <input id="reg_password-rep" type="password" class="form-control" name="reg_password-rep" placeholder="تکرار رمز عبور">
                            </div>
                            <div class="checkbox">
                                <label><input name="reg_is_lord" type="checkbox" value="">  ارباب</label>
                            </div>
                            <input type="submit" class="btn btn-primary btn-block" style="margin-top:5px;" value="ثبت نام" />
                        </form>
                    {% endif %}
                </div>
				<div class="col-lg-9 my-col bg-c-lav">
                    <p class="t1title">لیست کارها</p>
                    <table class="t1" id="tasktable" style="width:100%" align="center">
                        <tr>
                        <th class="th1">عنوان کار</th>
                        <th class="th1">ارزش کار</th>
                        <th class="th1">تخمین زمانی</th>
                        <th class="th1">صاحب کار</th>
                        <th></th>
                      </tr>

                    </table>
                    <button class="btn btn-primary btn-block" id="load_button" style="width:100px;margin:10 auto;" >Load more</Button>

                </div>

			</div>
			<div class="row bg-c-lb" style="padding:5px 10px 0px">
				<p>درباره‌ی ما</p>
			</div>
            <p id="ntasks" style="display:none;">0</p>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
{% else %}
  <h1>No Tasks!</h1>
{% endif %}
