{% if task %}
<html dir="rtl">
<head>
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

          <!-- Bootstrap CSS -->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <style>

  .td1 {
    padding-right: 30px;
  }

  body {
    background-color: white
  }

  </style>
</head>
<body>

    <h2 style="text-align:center;">سامانه انجام کار</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
            <h3 style=";">{{ task.title }}</h3>
            </div>
            <div class="col-sm-3">
            <form action= {{ url }} method="post">
            {% csrf_token %}
                <input type="submit" class="btn btn-success btn-block" style="margin-top:5px;max-width:100px" value="انجام میدهم"
                {% if disable %} disabled="disabled" {% endif %}
                />
            </form>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
            <td class="td1"><ins>{{ task.est_days }}</ins> روز</td>
            </div>
            <div class="col-sm-3">
            <td class="td1">{{ task.value }} تومان</td>
            </div>
            <div class="col-sm-3">
            <td class="td1">زمان اتمام تاریخ {{ task.deadline }}</td>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            <h4 style="padding-right:10px;">توضیحات:</h4>
            <p style="padding-right:30px;">{{ task.desc }}</p>
            </div>
        </div>
    </div>
</body>




{% elif not_signed_in %}
    <h3>You should sign in to be able to view this page</h3>
{% else %}
  <h1>Invalid Task!</h1>
{% endif %}
