span.dutext {
  border-bottom: double 4px;
}

span.button {
  padding: 3px;
  border: 2px solid black;
}

th.th1 {
  text-align: right;
}

td.td1 {
	border-top: 2px solid #aaaaaa;
}

table.t1 {
	border: 2px solid #aaaaaa;
}

p.t1title {
	font-size: 150%;
	font-weight: bold;
	text-align: center;
}

th.th1,td.td1 {
	padding: 7px;
}

td.td2 {
  padding-top: 15px;
  padding-right: 20px;
}

div.main-div {
	max-width: 960px;
}
.bg-c-lav {
	background-color: #EEEEEE;
}
.bg-c-lb {
	background-color: lightblue;
}
.bg-c-lg {
	background-color: lightgreen;
}
.my-col {
	padding: 40px;
}
